<div class="left-sidebar">

<div class="panel-group category-products" id="accordian">
	<h2>Category</h2>
	<!--category-productsr-->
	<vc:categories></vc:categories>
	
</div>
<!--/category-products-->

<div class="panel-group category-products" id="accordian">
	<!--brands_products-->
	<h2>Brands</h2>
	<vc:brands></vc:brands>
</div><!--/brands_products-->

</div>